.title {
	@apply font-oswald;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 0em;
	color: #010101;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #f77313;
	margin: 20px 0;
}
