.marqueeBlock {
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 88px;
}
