.faq {
	transition: all 0.8s ease-in-out;
	transform-origin: bottom;
	margin-top: 70px;
	.wrapper {
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		padding: 67px 30px 68px 30px;

		.title {
			@apply text-center uppercase mb-5;
		}

		.descr {
			@apply text-center mb-10;
		}

		.box {
			.item {
				max-width: 1100px;
				margin: 0 auto;
				cursor: pointer;
				padding: 16px 26px;
				border-radius: 15px;
				margin-bottom: 12px;
				margin-top: 20px;
				transition: all 0.8s ease-in-out;
				border-style: solid;
				border-width: 2px 2px 2px 2px;
				border-color: #fff;
				border-radius: 15px 15px 15px 15px;
				color: #fff;
				.top {
					@apply flex justify-between items-center;

					.tabTitle {
						font-size: 26px;
						font-weight: 500;
						color: #fff;
					}

					.icon {
						@apply cursor-pointer;
					}
				}

				.bottom {
					max-height: 0;
					overflow: hidden;
					transition: all 0.8s ease-in-out;

					.text {
						@apply text-text-black;
						font-weight: 300;
						padding-top: 15px;
						padding-bottom: 15px;
						color: #fff;
						a {
							text-decoration: underline;
						}
					}
				}

				&.active {
					.bottom {
						max-height: 1000px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.faq {
		.wrapper {
			border-radius: 0px;
			padding-top: 0;
			padding-bottom: 0;
			.box {
				.item {
					.top {
						.tabTitle {
							font-size: 18px;
							line-height: 1.2;
						}
					}
					.bottom {
						.text {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 575px) {
	.faq {
		.wrapper {
			padding: 0;
			.icon {
				min-width: 25px;
			}
			.box {
				.item {
					padding: 10px;
					border-radius: 10px;
				}
			}
		}
	}
}
