.variableCount {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.titles {
		font-size: 18px;
		@apply font-oswald font-bold text-white;
		margin-bottom: 10px;
		display: block;
	}
	.variables {
		width: 70%;
		padding-right: 15px;
		.choice {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;

			.blockChoice {
				height: 45px;
				border-radius: 6px;
				padding: 4px 20px;
				border: 1px solid transparent;
				background: #3d3d3d;
				@apply font-oswald text-white flex items-center justify-center font-bold text-xl cursor-pointer;
				&.activeVariant {
					color: #f77214;
					background: white;
					border: 1px solid #f77214;
				}
			}
		}
	}
	.num {
		width: 30%;
		.countVar {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {
	.variableCount {
		flex-wrap: wrap;
		.titles {
			font-size: 16px;
		}
		.variables {
			width: 100%;
		}
		.num {
			width: 100%;
			margin-top: 20px;
			.countVar {
				justify-content: space-between;
			}
		}
	}
}
