.item {
	display: flex;
	gap: 16px;
	align-items: center;
	padding: 13px 0;
	padding-right: 0;
	color: #111;
	font-size: 13px;
	line-height: 1.4;
	font-weight: 300;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	@apply font-sofia-sans;
	.image {
		margin-left: auto;
		width: 14%;
	}

	.remove {
		cursor: pointer;
		width: 4%;
	}

	.info {
		width: 86%;
		.top {
			margin-bottom: 5px;
		}
		.bottom {
			@apply font-oswald font-bold;
			color: #010101;
		}
	}
}

.bundleItemsList {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}
