.newHero {
	.img {
		display: block;
		position: relative;
		width: 100%;
		height: fit-content;
		overflow: hidden;
		// height: 200px;
		img {
			display: block;
			height: auto;
			width: 100%;
			min-height: 400px;
			height: auto;
		}
		.mobile {
			display: none;
			height: 200px;
			position: relative;
		}
	}
	.line,
	.mobileLine {
		background: linear-gradient(
			90deg,
			rgba(138, 209, 221, 1) 0%,
			rgba(190, 185, 214, 1) 87%
		);
		padding: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		.item {
			@apply items-center flex gap-3;

			.title {
				@apply font-oswald;
				font-weight: bold;
				font-size: 22px;
			}
		}
	}
	.mobileLine {
		display: none;
	}
}

@media (max-width: 1440px) {
	.newHero {
		.img {
			.desktop {
				img {
					min-height: 300px;
				}
			}
		}
		.line {
			.item {
				.image {
					width: 30px;
					height: 30px;
				}
				.title {
					font-size: 18px;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.newHero {
		.img {
			height: 60vw;
			.desktop {
				display: none;
			}
			.mobile {
				width: 100%;
				display: block;
				object-fit: cover;
				object-position: top;
			}
		}

		.img {
			img {
				min-height: 250px;
				height: auto;
			}
		}
		.line {
			display: none;
		}
		.mobileLine {
			display: flex;
			padding-left: 0;
			padding-right: 0;

			p {
				font-size: 16px;
				color: #000;
			}
		}
	}
}

@media (max-width: 575px) {
	.newHero {
		.img {
			height: calc(100vw);
		}
	}
}
