.button {
	border-radius: 14px 14px 14px 14px;
	padding: 16px 60px 13px 60px;
	font-size: 26px;
	line-height: 1;
	font-weight: 600;
	margin-top: 33px;
	display: inline-block;
	transition: all 0.3s ease-in-out;
	@apply uppercase text-text-white
		bg-orange-color font-sofia-sans;
	&:hover {
		@apply bg-white text-orange-color;
	}
}

@media (max-width: 1024px) {
	.button {
		font-size: 20px;
		padding: 16px 20px 13px 20px;
	}
}
