.title {
	@apply font-rockstar !important;
	letter-spacing: -1.3px !important;
	color: #ffffff !important;
	font-size: 70px !important;
	font-weight: 700 !important;
	max-width: 61%;
	line-height: 1 !important;
}
