.blog {
	background-color: #fff;
	padding: 20px 0;

	.singleBlog {
		max-width: 1245px;
		margin: 0 auto;
		.feature {
			position: relative;
			width: 1000px;
			height: 405px;
		}

		.title {
			@apply font-sofia-sans;
			font-weight: 400;
			font-size: 40px;
			letter-spacing: -0.6px;
			text-transform: none;
			line-height: 1.24;
			color: #222;
			margin-top: 30px;
			margin-bottom: 20px;
		}

		.date {
			color: #999;
			font-size: 14px;
			margin-bottom: 20px;
		}

		.bread {
			@apply flex font-sofia-sans mb-5;
			gap: 5px;
			color: #111;
			font-size: 14px;
			a {
				span {
					color: #555;
				}
			}
			span {
				color: #555;
				&.pageName {
					color: #555;
				}
			}
		}

		.content {
			@apply font-sofia-sans;
			font-weight: 300;
			font-size: 18px;
			letter-spacing: 0px;
			text-transform: none;
			color: #444;
			max-width: 946px;

			a {
				color: #1e68c4;
				transition: all 0.2s ease-in-out;
				&:hover {
					color: #111;
				}
			}

			p {
				margin: 0 0 1.41575em;
				display: block;
			}

			h2 {
				@apply font-sofia-sans;
				font-weight: 400;
				font-size: 30px;
				letter-spacing: -0.5px;
				text-transform: none;
				line-height: 1.25;
				color: #222;
				margin-top: 30px;
				margin-bottom: 20px;
			}
			ul {
				list-style-type: disc;
				padding-left: 20px;
			}
			ol {
				list-style-type: decimal;
				padding-left: 20px;
			}
			li {
				margin-bottom: 5px;
			}

			h3 {
				@apply font-sofia-sans;
				font-weight: 400;
				font-size: 24px;
				letter-spacing: 0px;
				text-transform: none;
				line-height: 1.45;
				color: #222;
				margin-bottom: 10px;
			}
			th {
				border: 1px solid;
				padding: 0.5em;
			}
			thead {
				border-bottom: 3px solid;
			}
			table {
				border-collapse: collapse;
				width: 100%;
				margin: 0 0 1.41575em;
				font-size: 15px;
			}
			td {
				border: 1px solid;
				padding: 0.5em;
			}
		}
	}
}

@media (max-width: 1024px) {
	.blog {
		.singleBlog {
			max-width: 100%;
			.feature,
			.content {
				max-width: 100%;
			}
		}
	}
}

@media (max-width: 768px) {
	.blog {
		.singleBlog {
			.feature {
				height: 320px;
			}
		}
	}
}

@media (max-width: 575px) {
	.blog {
		.singleBlog {
			.feature {
				height: 280px;
			}
		}
	}
}
