.steps {
	.box {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 69px 30px 78px 30px;
		border-radius: 30px;
	}

	.title {
		@apply text-center text-text-black uppercase mb-5;
	}

	.descr {
		@apply text-center text-text-black mb-10;
	}

	.text {
		@apply text-center text-text-black mb-10;
	}

	.info {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.btns {
		margin-top: 43px;
		display: flex;
		justify-content: center;
	}
}

.skeletonSteps {
	padding: 69px 30px 78px 30px;
	width: 100%;
	height: 887px;
	.skeletonBox {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
	.skeletonInfo {
		width: 100%;
		margin: 0 auto;
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 60px;
		.skeletonStep {
			padding: 10px 41px;
		}
	}
	.skeletonBtns {
		margin-top: 40px;
	}
}

@media (max-width: 769px) {
	.steps {
		.box {
			padding: 18px 20px 24px 20px;
		}

		.info {
			grid-template-columns: 1fr;
			row-gap: 20px;
		}
	}
	.skeletonSteps {
		padding: 18px 20px 24px 20px;
		height: 100%;
		.skeletonInfo {
			grid-template-columns: 1fr;
			row-gap: 20px;
			.skeletonStep {
				padding: 10px 20px;
			}
		}
	}
}
