.item {
	.wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	background: rgb(199, 231, 233);
	background: linear-gradient(
		90deg,
		rgba(199, 231, 233, 1) 0%,
		rgba(240, 233, 235, 1) 25%,
		rgba(247, 227, 197, 1) 75%,
		rgba(239, 194, 176, 1) 100%
	);
	border: 1px solid #cbddee;
	border-radius: 10px;
	overflow: hidden;
	padding: 12px 14px;
	margin: 0 0 15px;
	flex-wrap: wrap;

	.name {
		@apply font-oswald;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
		letter-spacing: 0em;
		text-align: left;
		color: #000;
		margin-left: 20px;
	}
	.left {
		max-width: 45%;
		display: flex;
		align-items: center;
	}

	.right {
		display: flex;
		align-items: center;
	}

	.save {
		@apply font-sofia-sans;
		height: 24px;
		color: #fff;
		padding: 0 10px;
		display: flex;
		align-items: center;
		background: rgb(154, 206, 84);
		background: linear-gradient(
			90deg,
			rgba(154, 206, 84, 1) 0%,
			rgba(60, 183, 172, 1) 100%
		);
		border-radius: 12px;
		font-size: 16px;
		font-weight: bold;
		margin-left: 15px;
	}
}

.bundles {
	display: flex;
	gap: 20px;
	margin-top: 20px;

	.bundleItem {
		max-width: 128px;
		background-color: #ffffff;
		background-image: none;
		margin: 0 0 14px;
		padding: 10px 6px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #cbddee;
		border-radius: 10px;
		overflow: hidden;
		flex-wrap: wrap;

		.bundleTextWrap {
			width: 50%;
			max-width: 50%;
		}
		.bundleText {
			text-align: center;
			font-size: 12px;
			line-height: 1.3;
			color: #000;
			font-weight: bold;
		}
	}
}

@media (max-width: 1550px) {
	.item {
		.right {
			justify-content: flex-end;
			flex-wrap: wrap;
		}
	}
}

@media (max-width: 578px) {
	.item {
		.wrap {
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			.left {
				max-width: 100%;
				justify-content: center;
				width: 100%;
			}
			.right {
				justify-content: center;
				width: 100%;
			}
		}
	}
	.bundles {
		justify-content: center;
		flex-wrap: wrap;
	}
}
